/* HTML Selectors */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* Class Selectors */
.headings {
  padding-top: 15px;
  font-size: 140%;
  font-size: 1.8em;
  color: #417493;
  padding-left: 2%;
}

.subheadings {
  font-size: 140%;
  color: #417493;
  padding-bottom: 10px;
}

.body-text {
  font-size: 1.1em;
  padding-top: 10px;
  color: grey;
}

.picture {
  padding-top: 40px;
  padding-bottom: 20px;
  border-radius: 25%;
  width: 350px;
}

.features {
  position: relative;
  background-color: #f8f9fb;
}

.call-to-action {
  text-align: center;
}

.footer {
  background: rgb(248, 249, 251);
  background: linear-gradient(0deg, rgba(248, 249, 251, 1) 50%, rgba(255, 255, 255, 1) 90%);
}

.col {
  padding-top: 20px;
  text-align: center;
}

.icons {
  color: #84d7c4;
}

.download-button {
  margin-bottom: 5px;
}

@media only screen and (max-width: 720px) {
  .mobile {
    width: 100%;
  }
}

.footer-download-button {
  width: 180px;
  height: 50px;
  padding-bottom: 10px;
  position: relative;
  right: 10px;
}

.carousel-item {
  height: 500px;
}

@media only screen and (max-width: 660px) {
  .carousel-item {
    height: 400px;
  }
}

@media only screen and (max-width: 500px) {
  .carousel-item {
    height: 300px;
  }
}

.cry-wallet {
  padding-top: 7%;
}

.BTCWallet {
  transform: rotate(10deg);
}

@media only screen and (max-width: 1065px) {
  .BTCWallet {
    width: 370px;
    height: 272px;
  }

  .cry-wallet {
    padding-top: 10%;
  }
}

@media only screen and (max-width: 860px) {
  .BTCWallet {
    width: 300px;
    height: 220px;
  }

  .cry-wallet {
    padding-top: 12%;
  }
}

@media only screen and (max-width: 770px) {
  .BTCWallet {
    width: 250px;
    height: 184px;
  }

  .cry-wallet {
    padding-top: 14%;
  }
}

@media only screen and (max-width: 600px) {
  .BTCWallet {
    width: 180px;
    height: 132px;
  }

  .cry-wallet {
    padding-top: 15%;
  }
}
